 /* Codé réalisé par Anaïs Bernard */
 /********************************************************************************
  *********************************** Le body ************************************
  ********************************************************************************/


/*
  * Le body qui contient l'intégralité des éléments
  * Le style définit ici sera le style défini par défaut pour tous les éléments
  * L'unité "vh" correspond au pourcentage de la hauteur de l'écran
  * Le 100 vh pour la height correspond à l'intégralité de la hauteur de l'écran
  * L'unité "%" correspond au pourcentage de la fenetre
  * Le 100% correspond à l'intégralité de la largeur de la fenêtre
  */

 body {
   background: #F2F2F2;
   height: 100vh;
   width: 100%;
 }

/********************************************************************************
 **************************** La barre de navigation ****************************
 ********************************************************************************/

 /*
  * nav bar du haut
  */

 nav {
   background: #061339;
   height: 3rem;
   font-family: 'Merienda', cursive;
 }

 /*
  * Bloc ayant pour class "navbar-brand", l'élément de la navbar (le lien)
  */

 .navbar-brand {
   color: white;
   font-size: 1rem;
 }




 /********************************************************************************
  ******************************* Le premier bloc ********************************
  ********************************************************************************/

 /*
  * Le bloc ayant pour class "first" (contenant le titre et l'image background)
  */
  /* Les valeurs mises détermines sa taille, sa position, l'alignement, la taille et la couleur du texte, la police etc */

 .first {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 23.5%;
   width: 100%;
   background: #B9CDFF url(img/background.jpg);
   text-align: center;
   color: #FFF;
   text-shadow: 1px 1px 2px black;
   font-family: 'Merienda', cursive;
   font-size: 2.5rem;
   line-height: 2.5rem
 }


 /********************************************************************************
  ******************************** Le second bloc ********************************
  ********************************************************************************/


 /*
  * Le bloc ayant pour class "middle" contenant le formulaire et le carousel
  */

 .middle {
   padding: 3rem 0 3rem 0;
   /* On définit simplement un padding pour ce bloc */
 }


 /********************************************************************************
  ******************************** Le formulaire *********************************
  ********************************************************************************/


 /*
 * Le bloc ayant pour class "card-header" dans le bloc ayant la class "middle"
 */

 .middle .card-header {
   padding: 1rem .5rem 1rem;
 }

 /*
  * le titre "h5" du formulaire dans le bloc ayant la class "forms" dans le bloc ayant la class "middle" 
  */
 /* On règle la police (font), la couleur, l'alignement du 'titre' du formulaire */

 .middle .forms h5 {
   font-family: 'Merienda', cursive;
   text-align: center;
   color: #2F4073;
   padding: 1vh;
 }

 /*
  * Tous les "label" du formulaire dans le bloc ayant la class "forms" dans le bloc ayant la class "middle"
  */

 .middle .forms label {
   font-weight: bold;
 }

 /*
  * Le bouton du formulaire dans le bloc ayant la class "forms" dans le bloc ayant la class "middle"
  * Ici on définit la largeur du bouton à 100% du parent
  */

 #card_form {
 transition: opacity 1s ease-out;
 opacity : 1;
 height: auto;
 overflow: hidden;
}
  /* code CSS permettant de retoucher le message de confirmation (taille du texte et son alignement) que l'on fait apparaitre grâce au JS */
/* De transition à Overflow > permet une apparition du message avec une transition (apparition progressive) se termine dans le JS */

#card {
  font-size: 0.9rem;
  text-align: justify;
  transition: opacity 1s ease-out;
  opacity : 0;
  height: 0;
  overflow: hidden;
}

 /********************************************************************************
  ********************************* Le carousel **********************************
  ********************************************************************************/


 /*
  * Tous les "li" dans l'indicateur du carousel dans le bloc ayant la class "middle" (les puces) (par défaut / lorsque inactive)
  */

 .middle .carousel-indicators li {
   width: .75rem;
   /* On a redéfinit la taille des puces à 0.75 rem*/
   height: .75rem;
   /* On a redéfinit la taille des puces à 0.75 rem*/
   border-radius: 50%;
   /* On ajoute l'effet arondi */
   border: 0.1rem solid #F2F2F2;
   /* On ajoute une bordure blanche de 0.1 rem */
   background: transparent;
   /* On rend la puce transparente */
 }

 /* On obtient donc un disque transparent ayant une légère bordure, ce qui en fait un cercle*/

 /*
  * Tous les "li" de l'indicateur du carousel dans le bloc ayant la class "middle"(les puces) lorsque celles-ci sont "active"
  */

 .middle .carousel-indicators li.active {
   border-radius: 100%;
   /* On redéfinit le border raduis, ainsi on obtient un cercle plein */
   background: #F2F2F2;
 }


 /********************************************************************************
  ****************************** Le troisième bloc *******************************
  ********************************************************************************/


 /*
  *  Le bloc ayant la class "bottom"
  */
  /* Le bloc en bas de la page, juste avant le footer. On règle sa marge et sa couleur */

 .bottom {
   padding: 1rem;
   background: #DDDDDD;
 }

 /*
  * Le titre "h3" dans le bloc ayant la class "bottom"
  */

 .bottom h3 {
   font-family: 'Merienda', cursive;
   color: #2F4073;
 }

 /*
  * Tous les bloc "p" dans le bloc ayant la class "bottom"
  */

 .bottom p {
   font-size: 85%;
 }

 /*
  * Le bloc ayant la class "image" dans le bloc ayant la class "bottom" (par défaut)
  */
  /* On fait les réglages de l'image, on l'appelle, on règle sa couleur, et sa position */

 .bottom img {
  transition : background-color 0.5s;
  background: #7885A5;
  width: 100%;
  height: auto;
 }

 /*
  * Le bloc ayant la class "image" dans le bloc ayant la class "bottom" lorsque le bloc ayant la class "bottom" est survolé par la souris (hover)
  */
 /* On repète le code précédant mais en changeant juste la couleur de l'image pour l'effet d'hover */
 .bottom:hover img {
   transition : background-color 0.5s;
   background: #061339;
 }


 /********************************************************************************
  ********************************** Le footer ***********************************
  ********************************************************************************/

 /*
  * Le bloc "footer"
  */
  /* On règle le footer : sa couleur et taille */
 footer {
   background: #061339;
   height: 3rem;
   line-height: 1rem;
 }

 /*
  * Le bloc "p" dans le bloc "footer"
  */
  /* Règle comment doit être le texte dans le footer (alignement, couleur, position, taille) */
 footer p {
   height: auto;
   text-align: right;
   color: #FFF;
   padding-top: 1rem;
   padding-right: 1rem;
 }
